body {
  height: 100%;
  font-size: 16px;
}

h1 a, h2 a, h3 a, h4 a {
  color: #000000;
  text-decoration: none;
}

small a {
  color: #999;
}

#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 0 0 50px;
}

.page-header {
  padding: 40px 0 0;
}
