---
layout: default
title: Home
---
{% for post in paginator.posts %}
<div class="post">
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="meta">{{ post.date | date_to_string }}, <a href="{{ post.url }}/#disqus_thread"></a></p>

  <div class="markdown">
  {{ post.content }}
  </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% endif %}
</div>
{% endif %}
