@import 'bootstrap.min';
@import 'brand';
@import 'markdown';
@import 'syntax';

html,
body {
  height: 100%;
}

.markdown {
  margin-top: 35px;
  margin-bottom: 35px;
}

#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 0 0 50px;
}

.page-header {
  padding: 20px 0 0;
}

.meta {
  font-size: smaller;
  color: #999;
}

#footer {
  height: 60px;
  background-color: #ffffff;
  color: $black;
  & > .container {
    margin: 0 auto -50px;
  }
}

.navbar-default {
  color: $black;
  background-color: #ffffff;
}

.post {
}
.pagination {
  width: 100%;
  text-align: right;
  padding-top: 30px;
}

cite {
  font-style: italic;
}
