---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}

    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}

    <div class="post-wrapper">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in paginator.posts -%}
      <div class="post">
        {%- if post.image_thumb -%}
        <a class="post-thumb-link" href="{{ post.url | relative_url }}">
          <img class="post-thumb" src="/assets/images/{{ post.image_thumb }}" alt=""/>
        </a>
        {% endif %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3 class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        {%- if post.subtitle -%}
        <p class="post-subtitle">{{ post.subtitle }}</p>
        {%- endif -%}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>

    {% if paginator.total_pages > 1 %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">Newer posts</a></li>
        {%- endif %}
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">Older posts</a></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
</div>
